@font-face {
   font-family: 'NANUMSQUAREROUNDB';
   src: url('/resources/fonts/NANUMSQUAREROUNDB.TTF');
}

a, h1, div, table, input {
   font-family: 'NANUMSQUAREROUNDB' !important;
   font-weight: 300;
}

.thumbImg {
   display: block;
   /*    max-width: 100px;
   max-height: 100px; */
   width: 80px;
   height: 80px;
   margin: auto;
}

table {
   margin: auto;
   text-align: center;
   width: 100%;
   border: 1px solid##dadee6;
   border-collapse: collapse;
}

thead {
   margin: 5px;
}

th, td {
   border: 1px solid #dadee6;
   margin: auto;
   padding: 5px;
}

.total {
   font-size: 17px;
}

.searchForm {
   margin: auto;
   padding: 0;
   float: left;
}

.btn-warning {
   postion: absolute;
   padding: 6.5px 12px;
   margin: -5px 1.5px 0 0px;
   color: #212529;
   background-color: #ffc107;
   border: none;
   border-radius: 4px;
   box-sizing: border-box;
}

input {
   width: 150px;
   padding: 8px;
   margin: 10px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

select {
   width: 100px;
   padding: 6px;
   margin: 10px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.pagination {
   padding-right: 10px;
   list-style: none;
   float: right;
   display: flex;
   border-radius: .25rem;
}

.page-item {
   float: right;
}

.page-link {
   float: right;
   /* padding: 7px; */
   margin-right: 3px;
   /* width: 30px; */
   color: #007bff;
   background-color: #fff;
   border: 1px solid #dee2e6;
   text-align: center;
   text-decoration: none;
}