@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1 {
   margin-bottom: 1em;
   text-align: center;
}

.myPage-page {
   width: 500px;
   padding: 8% 0 0;
   margin: auto;
}

.form {
   position: relative;
   z-index: 1;
   margin: 0 auto 100px;
   padding: 45px;
   /* text-align: center; */
}

.form button {
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   outline: 0;
   background: #2E6CC9;
   width: 50%;
   border: 0;
   padding: 15px;
   color: #FFFFFF;
   font-size: 17px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
   margin-bottom: 0.8em;
   height: 20%;
}

.form button:hover, .form button:active, .form button:focus {
   background: #214F94;
}

.find {
   text-align: center;
}

.a_find {
   color: #877E7E;
}