@import url(/css/fonts.css);

@import url(https://fonts.googleapis.com/css?family=Assistant);

@font-face {
	font-family: 'NANUMSQUAREROUNDB';
	src: url('/resources/fonts/NANUMSQUAREROUNDB.TTF');
}

.sub_menu_right_content {
	text-align: left;
}

a, div, span {
	font-family: 'NANUMSQUAREROUNDB' !important;
	font-weight: 300;
}

footer div {
	text-align: center;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/* font-size: 16px; */
	font-family: "Noto Sans KR", sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #000000;
}

#wrap {
	width: 100%;
	min-width: 1200px;
	min-height: 100%;
}

#contents {
	position: relative;
	min-width: 1200px;
}

/* common start */
.contents-wrap {
	position: relative;
	width: 100%;
	height: 20%;
	margin: 0 auto;
}

.m-only {
	display: none !important;
}

.kr {
	font-family: "Noto Sans KR", sans-serif;
}

.en {
	font-family: Assistant;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal
}

.t-upper {
	text-transform: uppercase;
}

.last-blank {
	margin-bottom: 250px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}
/* common end */
footer {
	background-color: #141e2c;
	padding: 60px 0;
}

footer .contents-wrap {
	position: relative;
}

.footer-logo-img {
	position: absolute;
	top: 0;
	left: 0;
}

.footer-contents-wrap {
	/* margin-left: 750px; */
	text-align: center;
}

.footer-link-ul li {
	float: left;
	margin-left: 40px;
	f z-index: 1;
}

.footer-link-ul li:first-child {
	margin-left: 0;
}

.footer-link-ul li a {
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	/* letter-spacing: -1px; */
	color: #ffffff;
}

.footer-text-1 {
	opacity: 0.7;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	/* letter-spacing: -1px; */
	color: #ffffff;
	margin-top: 20px;
}

.footer-text-2 {
	opacity: 0.3;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	/* letter-spacing: -0.5px; */
	color: #ffffff;
	margin-top: 10px;
}

.footer-number {
	opacity: 0.7;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	/* letter-spacing: -1px; */
	color: #ffffff;
	position: absolute;
	bottom: 0;
	right: 0;
}

a.go-top-btn {
	font-size: 13px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	/* letter-spacing: 0.5px; */
	color: #ffffff;
	text-align: center;
	position: absolute;
	top: -20px;
	right: 0;
	width: 74px;
	height: 74px;
	border-radius: 37px;
	background: #2b3441;
	display: block;
	padding-top: 30px;
	box-sizing: border-box;
	margin-right: 30px;
}

ul {
	display: inline-block;
	zoom: 1;
}