@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
   font-family: 'NANUMSQUAREROUNDB';
   src: url('/resources/fonts/NANUMSQUAREROUNDB.TTF');
}

h1, div, label, input {
   font-family: 'NANUMSQUAREROUNDB' !important;
   font-weight: 300;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0, 0, 0); /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover, .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

h1 {
   margin-bottom: 1em;
   text-align: center;
}

.signUp-page {
   width: 500px;
   padding: 8% 0 0;
   margin: auto;
}

.form {
   position: relative;
   z-index: 1;
   /* margin: 0 auto 100px; */
   padding: 45px;
   /* text-align: center; */
}

.form .writer {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}

.form .contents {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}

.form .reason {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}

#u_addr1 {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 71%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
   float: left;
}

.btDiv {
   text-align: center;
}

#btReport {
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   outline: 0;
   background: #d1263c;
   width: 25%;
   border: 0;
   padding: 15px;
   color: #FFFFFF;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
   margin-bottom: 0.8em;
}

#btCancel {
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   outline: 0;
   background: #FFFFFF;
   width: 15%;
   border: 1px solid #b3b3b3;
   color: #b3b3b3;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
   margin-bottom: 0.8em;
   padding: 15px;
}

/* .form button:hover, .form button:active, .form button:focus, #addrBtn:hover
   {
   background: #214F94;
} */
#btReport:hover {
   background: #b8162b;
}

.form .message {
   margin: 15px 0 0;
   color: #b3b3b3;
   font-size: 12px;
}

.form .message a {
   color: #4CAF50;
   text-decoration: none;
}

.form .register-form {
   display: none;
}

.btStatus1 {
   color: white;
   background: #191919;
   border-radius: 0;
   border: 1px solid #303030;
   min-width: 4rem;
   cursor: pointer;
}

.btStatus2 {
   color: white;
   background: #191919;
   border-radius: 0;
   border: 1px solid #303030;
   min-width: 4rem;
   cursor: pointer;
}

.btStatus {
   text-align: center;
}