<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.icia.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							u_id like '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString()">
							u_name like '%'||#{keyword}||'%'
						</when>
						<when test="type=='W'.toString()">
							approval_status like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 퍼니's 검색 -->
	<sql id="funnyCriteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							f_title like '%' || #{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							f_artist like '%' || #{keyword} || '%'
						</when>
						<when test="type=='W'.toString()">
							f_album like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 이어펀's 검색 -->
	<sql id="earFunCriteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							e_title like '%' || #{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							e_artist like '%' || #{keyword} || '%'
						</when>
						<when test="type=='W'.toString()">
							e_album like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 상황별 음악 검색 -->
	<sql id="moodCriteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							m_title like '%' || #{keyword} || '%'
						</when>
						<when test="type=='C'.toString()">
							m_artist like '%' || #{keyword} || '%'
						</when>
						<when test="type=='W'.toString()">
							m_album like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- ===================================================== -->

	<!-- 퍼니's 등록 -->
	<insert id="funnyRegister">
		INSERT INTO tbl_funny
		(f_no, u_id, f_caption,
		f_title01,
		f_artist01, f_album01, f_video01,
		f_title02, f_artist02,
		f_album02, f_video02,
		f_title03,
		f_artist03, f_album03, f_video03,
		f_title04, f_artist04, f_album04, f_video04,
		f_title05,
		f_artist05,
		f_album05, f_video05,
		f_title06, f_artist06, f_album06, f_video06,
		f_title07,
		f_artist07, f_album07, f_video07,
		f_title08, f_artist08,
		f_album08, f_video08, f_hashtag01, f_hashtag02, f_hashtag03,
		f_contents,
		f_image, f_thumbImg)
		VALUES
		(tbl_seq_funny.nextval, #{u_id},
		#{f_caption},
		#{f_title01},
		#{f_artist01}, #{f_album01}, #{f_video01},
		#{f_title02},
		#{f_artist02},
		#{f_album02}, #{f_video02},
		#{f_title03},
		#{f_artist03}, #{f_album03},
		#{f_video03},
		#{f_title04},
		#{f_artist04},
		#{f_album04}, #{f_video04},
		#{f_title05}, #{f_artist05},
		#{f_album05},
		#{f_video05},
		#{f_title06},
		#{f_artist06}, #{f_album06}, #{f_video06},
		#{f_title07},
		#{f_artist07},
		#{f_album07}, #{f_video07},
		#{f_title08},
		#{f_artist08}, #{f_album08},
		#{f_video08}, #{f_hashtag01},
		#{f_hashtag02}, #{f_hashtag03},
		#{f_contents},
		#{f_image},
		#{f_thumbImg})
	</insert>

	<!-- 퍼니's 목록 -->
	<!-- <select id="funnyList" resultType="kr.icia.domain.FunnyVO"> <![CDATA[ 
		SELECT f_no, u_id, f_caption, regdate, viewcnt, f_image, f_thumbImg, f_hashtag01, 
		f_hashtag02, f_hashtag03 FROM (SELECT /*+INDEX_DESC(tbl_funny pk_funny) */ 
		rownum rn, f_no, u_id, f_caption, regdate, viewcnt, f_image, f_thumbImg, 
		f_hashtag01, f_hashtag02, f_hashtag03 FROM tbl_funny WHERE ]]> <include refid="funnyCriteria" 
		/> <![CDATA[ rownum <= #{pageNum} * #{amount}) WHERE rn > (#{pageNum} - 1) 
		* #{amount} ]]> order by f_no desc </select> -->

	<select id="funnyList" resultType="kr.icia.domain.FunnyVO">
		select * from tbl_funny order
		by f_no desc
	</select>

	<select id="funnyLikeCount"
		resultType="kr.icia.domain.FunnyLikeVO">
		select * from tbl_funny_like where f_no = #{f_no}
	</select>

	<!-- 퍼니's 이전/다음글 페이징 처리 -->
	<select id="funnyPrevList" resultType="kr.icia.domain.FunnyVO">
		SELECT * FROM tbl_funny WHERE f_no = 
      
      <![CDATA[
         (SELECT MAX(f_no) FROM
         tbl_funny WHERE f_no < 10)
      ]]>
	</select>

	<!-- 총 퍼니's 글 갯수 -->
	<select id="getFunnyListTotalCount" resultType="int">
		SELECT
		COUNT(f_no) FROM tbl_funny WHERE f_no > 0
	</select>

	<!-- 퍼니's 조회 -->
	<select id="funnyView" resultType="kr.icia.domain.FunnyVO">
		SELECT f_no, u_id, f_caption,
		regDate, viewCnt,
		f_title01, f_artist01, f_album01, f_video01,
		f_title02,
		f_artist02, f_album02, f_video02,
		f_title03, f_artist03,
		f_album03, f_video03,
		f_title04,
		f_artist04, f_album04, f_video04,
		f_title05, f_artist05, f_album05, f_video05,
		f_title06,
		f_artist06,
		f_album06, f_video06,
		f_title07, f_artist07, f_album07, f_video07,
		f_title08,
		f_artist08, f_album08, f_video08, f_hashtag01, f_hashtag02,
		f_hashtag03,
		f_contents,
		regDate,f_image, f_thumbImg
		FROM
		tbl_funny
		WHERE
		f_no = #{f_no}
	</select>

	<select id="funnyLikeView"
		resultType="kr.icia.domain.FunnyLikeVO">
		SELECT l_no, f_no, u_id, l_status
		FROM
		tbl_funny_like
		WHERE
		u_id = #{u_id} and f_no = #{f_no}
	</select>

	<!-- 퍼니's 조회 수 -->
	<update id="updateFunnyViewCnt">
		UPDATE tbl_funny SET viewCnt = viewCnt + 1
		WHERE f_no
		= #{f_no}
	</update>

	<!-- 퍼니's 수정 -->
	<update id="funnyModify">
		UPDATE tbl_funny
		SET f_caption = #{f_caption},
		f_title01 = #{f_title01}, f_artist01 = #{f_artist01}, f_album01 =
		#{f_album01},
		f_title02 = #{f_title02}, f_artist02 = #{f_artist02},
		f_album02 =
		#{f_album02},
		f_title03 = #{f_title03}, f_artist03 =
		#{f_artist03}, f_album03 = #{f_album03},
		f_title04 = #{f_title04},
		f_artist04 = #{f_artist04}, f_album04 =
		#{f_album04},
		f_title05 =
		#{f_title05}, f_artist05 = #{f_artist05}, f_album05 = #{f_album05},
		f_title06 = #{f_title06}, f_artist06 = #{f_artist06}, f_album06 =
		#{f_album06},
		f_title07 = #{f_title07}, f_artist07 = #{f_artist07},
		f_album07 = #{f_album07},
		f_title08 = #{f_title08}, f_artist08 =
		#{f_artist08}, f_album08 =
		#{f_album08},
		f_contents = #{f_contents}
		WHERE f_no = #{f_no}
	</update>

	<!-- 퍼니's 삭제 -->
	<delete id="funnyRemove">
		DELETE tbl_funny WHERE f_no = #{f_no}
	</delete>

	<delete id="funnyLikeRemove">
		DELETE tbl_funny_like WHERE u_id = #{u_id} and f_no =
		#{f_no}
	</delete>

	<!-- 퍼니's 후기 작성 -->
	<insert id="funnyReplyRegister">
		INSERT INTO tbl_funny_reply (f_no, u_id, r_no,
		r_contents)
		VALUES (#{f_no}, #{u_id}, tbl_seq_funny_reply.nextval,
		#{r_contents})
	</insert>

	<!-- 퍼니's 후기 리스트 -->
	<select id="funnyReplyList"
		resultType="kr.icia.domain.FunnyReplyListVO">
		SELECT f.f_no, f.u_id, f.r_no, f.r_contents,
		f.r_date,
		f.rating, u.u_name
		FROM tbl_funny_reply f
		INNER JOIN tbl_user u
		ON f.u_id
		= u.u_id
		WHERE f_no = #{f_no}
		ORDER BY r_date DESC
	</select>

	<!-- 퍼니's 신고 정보 -->
	<select id="funnyReportInfo"
		resultType="kr.icia.domain.FunnyReplyListVO">
		select u_id, r_contents from tbl_funny_reply
		where
		r_no =
		#{r_no}
	</select>

	<!-- 퍼니's 신고 -->
	<insert id="report" parameterType="kr.icia.domain.ReportVO">
		insert into
		tbl_report(r_no,
		r_writer, r_contents, r_reason)
		values
		(tbl_seq_report.nextval,
		#{r_writer, jdbcType=VARCHAR}, #{r_contents,
		jdbcType=VARCHAR},
		#{r_reason, jdbcType=VARCHAR})
	</insert>

	<!-- 퍼니's 후기 삭제 -->
	<delete id="funnyDeleteReply">
		DELETE tbl_funny_reply
		WHERE r_no = #{r_no} 
		AND u_id =
		#{u_id}
	</delete>

	<!-- 퍼니's 후기 삭제 시 아이디 체크 -->
	<select id="funnyIdCheck" resultType="String">
		SELECT u_id
		FROM
		tbl_funny_reply
		WHERE r_no = #{r_no}
	</select>

	<!-- 퍼니's 후기 총 개수 -->
	<select id="getFunnyReplyTotalCount" resultType="int">
		SELECT COUNT(r_no) FROM tbl_funny_reply WHERE

		<include refid="criteria" />
   
      <![CDATA[ 
         r_no > 0
      ]]>
	</select>

	<insert id="funnyLikeRegister"> INSERT INTO tbl_funny_like (l_no, f_no,
		u_id,
		l_status) VALUES (tbl_seq_funny_like.nextval, #{f_no}, #{u_id}, 1)
	</insert>

	<select id="myMusic" resultType="kr.icia.domain.FunnyVO">
		select row_number() over(order
		by l.l_no desc) as num,
		l.l_no, l.f_no, l.u_id, l.l_status,
		f.f_no,
		f.u_id, f.f_caption,
		f.f_title01,
		f.f_artist01, f.f_album01,
		f.f_video01,
		f.f_title02, f.f_artist02,
		f.f_album02, f.f_video02,
		f.f_title03,
		f.f_artist03, f.f_album03, f.f_video03,
		f.f_title04,
		f.f_artist04, f.f_album04, f.f_video04,
		f.f_title05,
		f.f_artist05,
		f.f_album05, f.f_video05,
		f.f_title06, f.f_artist06, f.f_album06,
		f.f_video06,
		f.f_title07,
		f.f_artist07, f.f_album07, f.f_video07,
		f.f_title08, f.f_artist08,
		f.f_album08, f.f_video08, f.f_hashtag01,
		f.f_hashtag02, f.f_hashtag03,
		f.f_contents,
		f.f_image, f.f_thumbImg,
		f.regDate
		from
		tbl_funny_like l
		inner join
		tbl_funny f
		on f.f_no = l.f_no
		where l.u_id =
		#{u_id}
	</select>

	<select id="getMyMusicListTotalCount" resultType="int">
		select
		count(f_no)
		from tbl_funny where
		f_no > 0
	</select>

	<!-- ===================================================== -->

	<!-- 이어펀's 목록 -->
	<select id="earFunList" resultType="kr.icia.domain.EarFunVO">
      <![CDATA[
         SELECT e_no, e_caption, regdate, e_image, e_thumbImg, viewcnt
         FROM
            (SELECT /*+INDEX_DESC(tbl_earfun pk_earfun) */ 
            rownum rn, e_no, e_caption, regdate, e_image, e_thumbImg, viewcnt
            FROM tbl_earfun 
            WHERE
      ]]>

		<include refid="earFunCriteria" />
      
      <![CDATA[
         rownum <= #{pageNum} * #{amount}) 
         WHERE rn > (#{pageNum} - 1) * #{amount}
      ]]>
	</select>

	<!-- 이어펀's 이전/다음글 페이징 처리 -->
	<select id="earFunPrevList" resultType="kr.icia.domain.EarFunVO">
		SELECT * FROM tbl_earfun WHERE e_no = 
      
      <![CDATA[
         (SELECT MAX(e_no) FROM
         tbl_earfun WHERE e_no < 10)
      ]]>
	</select>

	<!-- 총 이어펀's 글 갯수 -->
	<select id="getEarFunListTotalCount" resultType="int">
		SELECT
		COUNT(e_no) FROM tbl_earfun WHERE e_no > 0
	</select>

	<!-- 이어펀's 조회 -->
	<select id="earFunView" resultType="kr.icia.domain.EarFunVO">
		SELECT e_no, e_caption,
		e_title01, e_artist01, e_album01, e_video01,
		e_title02, e_artist02,
		e_album02, e_video02,
		e_title03, e_artist03, e_album03, e_video03,
		e_title04, e_artist04, e_album04, e_video04,
		e_title05, e_artist05,
		e_album05, e_video05,
		e_title06, e_artist06, e_album06, e_video06,
		e_title07, e_artist07, e_album07, e_video07,
		e_title08, e_artist08,
		e_album08, e_video08,
		e_contents, regDate, viewCnt, e_image, e_thumbImg
		FROM tbl_earfun
		WHERE
		e_no = #{e_no}
	</select>

	<!-- 이어펀's 조회 수 -->
	<update id="updateEarFunViewCnt">
		UPDATE tbl_earfun SET viewCnt = viewCnt + 1
		WHERE e_no
		= #{e_no}
	</update>

	<!-- 이어펀's 댓글 작성 -->
	<insert id="earFunReplyRegister">
		INSERT INTO tbl_earfun_reply (e_no, u_id, r_no,
		r_contents)
		VALUES (#{e_no}, #{u_id}, tbl_seq_earfun_reply.nextval,
		#{r_contents})
	</insert>

	<!-- 이어펀's 댓글 리스트 -->
	<select id="earFunReplyList"
		resultType="kr.icia.domain.EarFunReplyListVO">
		SELECT e.e_no, e.u_id, e.r_no, e.r_contents,
		e.r_date,
		e.r_cnt, u.u_name
		FROM tbl_earfun_reply e
		INNER JOIN tbl_user u
		ON e.u_id
		= u.u_id
		WHERE e_no = #{e_no}
		ORDER BY r_date DESC
	</select>

	<!-- 이어펀's 댓글 삭제 -->
	<delete id="earFunDeleteReply">
		DELETE tbl_earfun_reply
		WHERE r_no = #{r_no} 
		AND u_id
		= #{u_id}
	</delete>

	<!-- 이어펀's 댓글 삭제 시 아이디 체크 -->
	<select id="earFunIdCheck" resultType="String">
		SELECT u_id
		FROM
		tbl_earfun_reply
		WHERE r_no = #{r_no}
	</select>

	<!-- 이어펀's 댓글 총 개수 -->
	<select id="getEarFunReplyTotalCount" resultType="int">
		SELECT COUNT(r_no) FROM tbl_earfun_reply WHERE

		<include refid="criteria" />
   
      <![CDATA[ 
         r_no > 0
      ]]>
	</select>

	<!-- <update id="updateReplyCnt"> UPDATE tbl_earfun_reply SET r_cnt = r_cnt 
		+ #{amount} WHERE e_no = #{e_no} </update> -->

	<!-- ===================================================== -->

	<!-- 상황별 음악 목록 -->
	<select id="moodList" resultType="kr.icia.domain.MoodVO">
      <![CDATA[
         SELECT m_no, m_caption, regdate, m_image, m_thumbImg
         FROM
            (SELECT /*+INDEX_DESC(tbl_mood pk_mood) */ 
            rownum rn, m_no, m_caption, regdate, viewCnt, m_image, m_thumbImg
            FROM tbl_mood
            WHERE
      ]]>

		<include refid="moodCriteria" />
      
      <![CDATA[
         rownum <= #{pageNum} * #{amount}) 
         WHERE rn > (#{pageNum} - 1) * #{amount}
      ]]>
	</select>

	<!-- 상황별 음악 이전/다음글 페이징 처리 -->
	<select id="moodPrevList" resultType="kr.icia.domain.MoodVO">
		SELECT * FROM tbl_mood WHERE m_no = 
      
      <![CDATA[
         (SELECT MAX(m_no) FROM
         tbl_mood WHERE m_no < 10)
      ]]>
	</select>

	<!-- 총 상황별 음악 글 갯수 -->
	<select id="getMoodListTotalCount" resultType="int">
		SELECT COUNT(m_no)
		FROM tbl_mood WHERE m_no > 0
	</select>

	<!-- 상황별 음악 조회 -->
	<select id="moodView" resultType="kr.icia.domain.MoodVO">
		SELECT m_no, m_caption,
		m_title01, m_artist01, m_album01,
		m_title02, m_artist02, m_album02,
		m_title03, m_artist03, m_album03,
		m_title04, m_artist04, m_album04,
		m_title05, m_artist05, m_album05,
		m_title06, m_artist06, m_album06,
		m_title07, m_artist07, m_album07,
		m_title08, m_artist08, m_album08,
		m_contents, regDate, viewCnt, m_image, m_thumbImg
		FROM tbl_mood
		WHERE
		m_no = #{m_no}
	</select>

	<!-- 상황별 음악 조회 수 -->
	<update id="updateMoodViewCnt">
		UPDATE tbl_mood SET viewCnt = viewCnt + 1
		WHERE m_no =
		#{m_no}
	</update>

	<!-- 상황별 음악 후기 작성 -->
	<insert id="moodReplyRegister">
		INSERT INTO tbl_mood_reply (m_no, u_id, r_no,
		r_contents)
		VALUES (#{m_no}, #{u_id}, tbl_seq_mood_reply.nextval,
		#{r_contents})
	</insert>

	<!-- 상황별 음악 후기 리스트 -->
	<select id="moodReplyList"
		resultType="kr.icia.domain.MoodReplyListVO">
		SELECT m.m_no, m.u_id, m.r_no, m.r_contents,
		m.r_date,
		m.rating, u.u_name
		FROM tbl_mood_reply m
		INNER JOIN tbl_user u
		ON m.u_id
		= u.u_id
		WHERE m_no = #{m_no}
		ORDER BY r_date DESC
	</select>

	<!-- 상황별 음악 후기 삭제 -->
	<delete id="moodDeleteReply">
		DELETE tbl_mood_reply
		WHERE r_no = #{r_no} 
		AND u_id =
		#{u_id}
	</delete>

	<!-- 상황별 음악 후기 삭제 시 아이디 체크 -->
	<select id="moodIdCheck" resultType="String">
		SELECT u_id
		FROM
		tbl_mood_reply
		WHERE r_no = #{r_no}
	</select>

	<!-- 상황별 음악 후기 총 개수 -->
	<select id="getMoodReplyTotalCount" resultType="int">
		SELECT COUNT(r_no) FROM tbl_mood_reply WHERE

		<include refid="criteria" />
   
      <![CDATA[ 
         r_no > 0
      ]]>
	</select>

	<!-- ===================================================== -->

	<!-- 공지사항 목록 -->
	<select id="userNoticeList" resultType="kr.icia.domain.NoticeVO">
         <![CDATA[
         SELECT n_no, n_title, regDate
         FROM 
            (SELECT /*+INDEX_DESC(tbl_notice pk_notice) */ 
               rownum rn, n_no, n_title, regDate
            FROM tbl_notice
            WHERE rownum <= #{pageNum} * #{amount} order by regDate desc) 
         WHERE rn > (#{pageNum}-1) * #{amount}
      ]]>
		order by regDate desc
	</select>

	<!-- 총 공지사항 글 갯수 -->
	<select id="getUserNoticeListTotalCount" resultType="int">
		SELECT
		COUNT(n_no) FROM tbl_notice WHERE n_no > 0
	</select>

	<!-- 공지사항 조회 -->
	<select id="userNoticeView" resultType="kr.icia.domain.NoticeVO">
		SELECT n_no, n_title,
		n_contents, regDate
		FROM tbl_notice
		WHERE n_no = #{n_no}
	</select>

	<insert id="qnaRegister">
		INSERT INTO tbl_qna
		(q_no, q_category, q_writer,
		q_title,
		q_contents)
		VALUES (tbl_seq_qna.nextval, #{q_category},
		#{q_writer}, #{q_title},
		#{q_contents})
	</insert>

	<select id="qnaList" resultType="kr.icia.domain.QnAVO">
		select q_no, q_category,
		q_writer, q_title, q_contents, q_date, status
		from
		tbl_qna
		where q_writer
		=
		#{u_id}
		order by q_date desc
	</select>

	<select id="qnaView" resultType="kr.icia.domain.QnAVO">
		SELECT q_no, q_category,
		q_writer, q_title, q_contents, q_date, status
		from
		tbl_qna
		where q_no =
		#{q_no}
	</select>

	<select id="qnaReplyView" resultType="kr.icia.domain.QnAReplyVO">
		SELECT q_no, r_contents
		from
		tbl_qna_reply
		where q_no =
		#{q_no}
	</select>

</mapper>